<h1>New Student</h1>

<form action="/students"  method="post" id="new_student">
  <label for="name">Name</label>
  <input type="text" name="student[name]"><br>
  <label for="twitter">Twitter</label>
  <input type="text" name="student[twitter]"><br>
  <label for="linkedin">LinkedIn</label>
  <input type="text" name="student[linkedin]"><br>
  <label for="github">GitHub</label>
  <input type="text" name="student[github]"><br>
  <label for="bio">Bio</label><br>
  <textarea cols="80" rows="4" name="student[bio]"></textarea><br>
  <label for="work">Work</label><br>
  <textarea cols="80" rows="4" name="student[work]"></textarea><br>
  <label for="work_title">Work Title</label><br>
  <textarea cols="80" rows="4" name="student[work_title]"></textarea><br>
  <label for="education">Education</label><br>
  <textarea cols="80" rows="4" name="student[education]"></textarea><br>
  <label for="quote">Quote</label><br>
  <textarea cols="80" rows="3" name="student[quote]"></textarea><br>

  <input class="button" type="submit" value="Create Student"><a class="button" href="/">Cancel</a>
</form>

